<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">SOFT</span>
        <span>Copyright © 2021 Soft by Creative Tim.</span>
      </div>
      <div class="footer-container2">
        <span class="footer-text2 large">Social</span>
        <a
          href="https://github.com/matCh00"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span>Github</span>
        </a>
      </div>
      <div class="footer-container3"></div>
    </div>
    <img
      alt="image"
      src="../public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
