<div>
  <link href="./header-full.css" rel="stylesheet" />
  <div class="header-full-header">
    <nav class="header-full-nav">
      <div class="header-full-container">
        <a href="/" class="header-full-navlink large">Soft UI Design System</a>
        <div class="header-full-menu">
          <a href="/" class="header-full-navlink1 large">Home</a>
          <span class="header-full-text large">Profile</span>
          <span class="header-full-text1 large">Coming Soon</span>
        </div>
        <div class="header-full-container1">
          <div class="header-full-container2">
            <div class="primary-pink-button-container">
              <button class="primary-pink-button-button button buttonSmall">
                <span>buy now</span>
              </button>
            </div>
          </div>
          <svg viewBox="0 0 1024 1024" class="header-full-icon">
            <path
              d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
            ></path>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</div>
