<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <a href="/" class="header-navlink large">Soft UI Design System</a>
        <div class="header-menu">
          <a href="/" class="header-navlink1 large">Home</a>
        </div>
        <div class="header-container1">
          <div class="header-container2">
            <div class="primary-pink-button-container">
              <button class="primary-pink-button-button button buttonSmall">
                <span>buy now</span>
              </button>
            </div>
          </div>
          <div data-type="BurgerMenu" class="header-burger-menu">
            <svg viewBox="0 0 1024 1024" class="header-icon">
              <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </nav>
    <div data-type="MobileMenu" class="header-mobile-menu">
      <div class="header-top">
        <a href="/" class="header-navlink2 large">Soft UI Design System</a>
        <div data-type="CloseMobileMenu" class="header-close-menu">
          <svg viewBox="0 0 1024 1024" class="header-icon2">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="header-mid">
        <div class="header-menu1">
          <a href="/" class="header-navlink3 large">Home</a>
          <span class="header-text large">Profile</span>
          <span class="header-text1 large">Coming Soon</span>
        </div>
      </div>
      <div class="header-bot">
        <div class="primary-pink-button-container">
          <button class="primary-pink-button-button button buttonSmall">
            <span>buy now</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
